# Introduction au dataset

# Lire all-ages.csv dans un DataFrame et l'assigner à la variable all_ages. 
# Lire recent-grads.csv dans un DataFrame et l'assigner à la variable recent_grads.

In [14]:
import pandas as pd 

all_ages = pd.read_csv("/home/simplon/Documents/Python_cours/Challenge_8.2/all-ages.csv")
recent_grads = pd.read_csv("/home/simplon/Documents/Python_cours/Challenge_8.2/recent-grads.csv")
print(all_ages)
print(recent_grads)

     Major_code                                            Major  \
0          1100                              GENERAL AGRICULTURE
1          1101            AGRICULTURE PRODUCTION AND MANAGEMENT
2          1102                           AGRICULTURAL ECONOMICS
3          1103                                  ANIMAL SCIENCES
4          1104                                     FOOD SCIENCE
..          ...                                              ...
168        6211                           HOSPITALITY MANAGEMENT
169        6212    MANAGEMENT INFORMATION SYSTEMS AND STATISTICS
170        6299  MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION
171        6402                                          HISTORY
172        6403                            UNITED STATES HISTORY

                      Major_category   Total  Employed  \
0    Agriculture & Natural Resources  128148     90245
1    Agriculture & Natural Resources   95326     76865
2    Agriculture & Natural Resources   33955     26321
3    Agriculture & Natural Resources  103549     81177
4    Agriculture & Natural Resources   24280     17281
..                               ...     ...       ...
168                         Business  200854    163393
169                         Business  156673    134478
170                         Business  102753     77471
171        Humanities & Liberal Arts  712509    478416
172        Humanities & Liberal Arts   17746     11887

     Employed_full_time_year_round  Unemployed  Unemployment_rate  Median  \
0                            74078        2423           0.026147   50000
1                            64240        2266           0.028636   54000
2                            22810         821           0.030248   63000
3                            64937        3619           0.042679   46000
4                            12722         894           0.049188   62000
..                             ...         ...                ...     ...
168                         122499        8862           0.051447   49000
169                         118249        6186           0.043977   72000
170                          61603        4308           0.052679   53000
171                         354163       33725           0.065851   50000
172                           8204         943           0.073500   50000

     P25th     P75th
0    34000   80000.0
1    36000   80000.0
2    40000   98000.0
3    30000   72000.0
4    38500   90000.0
..     ...       ...
168  33000   70000.0
169  50000  100000.0
170  36000   83000.0
171  35000   80000.0
172  39000   81000.0

[173 rows x 11 columns]
     Rank  Major_code                                      Major  \
0       1        2419                      PETROLEUM ENGINEERING
1       2        2416             MINING AND MINERAL ENGINEERING
2       3        2415                  METALLURGICAL ENGINEERING
3       4        2417  NAVAL ARCHITECTURE AND MARINE ENGINEERING
4       5        2405                       CHEMICAL ENGINEERING
..    ...         ...                                        ...
168   169        3609                                    ZOOLOGY
169   170        5201                     EDUCATIONAL PSYCHOLOGY
170   171        5202                        CLINICAL PSYCHOLOGY
171   172        5203                      COUNSELING PSYCHOLOGY
172   173        3501                            LIBRARY SCIENCE

               Major_category  Total  Sample_size    Men  Women  ShareWomen  \
0                 Engineering   2339           36   2057    282    0.120564
1                 Engineering    756            7    679     77    0.101852
2                 Engineering    856            3    725    131    0.153037
3                 Engineering   1258           16   1123    135    0.107313
4                 Engineering  32260          289  21239  11021    0.341631
..                        ...    ...          ...    ...    ...         ...
168    Biology & Life Science   8409           47   3050   5359    0.637293
169  Psychology & Social Work   2854            7    522   2332    0.817099
170  Psychology & Social Work   2838           13    568   2270    0.799859
171  Psychology & Social Work   4626           21    931   3695    0.798746
172                 Education   1098            2    134    964    0.877960

     Employed  ...  Part_time  Full_time_year_round  Unemployed  \
0        1976  ...        270                  1207          37
1         640  ...        170                   388          85
2         648  ...        133                   340          16
3         758  ...        150                   692          40
4       25694  ...       5180                 16697        1672
..        ...  ...        ...                   ...         ...
168      6259  ...       2190                  3602         304
169      2125  ...        572                  1211         148
170      2101  ...        648                  1293         368
171      3777  ...        965                  2738         214
172       742  ...        237                   410          87

     Unemployment_rate  Median  P25th   P75th  College_jobs  Non_college_jobs  \
0             0.018381  110000  95000  125000          1534               364
1             0.117241   75000  55000   90000           350               257
2             0.024096   73000  50000  105000           456               176
3             0.050125   70000  43000   80000           529               102
4             0.061098   65000  50000   75000         18314              4440
..                 ...     ...    ...     ...           ...               ...
168           0.046320   26000  20000   39000          2771              2947
169           0.065112   25000  24000   34000          1488               615
170           0.149048   25000  25000   40000           986               870
171           0.053621   23400  19200   26000          2403              1245
172           0.104946   22000  20000   22000           288               338

     Low_wage_jobs
0              193
1               50
2                0
3                0
4              972
..             ...
168            743
169             82
170            622
171            308
172            192

[173 rows x 21 columns]

# Afficher les 5 premiéres lignes de all_ages et recent_grads.

In [15]:
first_rows_all_ages = all_ages.loc[0:4]
first_rows_all_ages

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679,46000,30000,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894,0.049188,62000,38500,90000.0

In [16]:
first_rows_recent_grads = recent_grads.loc[0:4]
first_rows_recent_grads

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,36,2057,282,0.120564,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,7,679,77,0.101852,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,3,725,131,0.153037,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,16,1123,135,0.107313,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,Engineering,32260,289,21239,11021,0.341631,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

# Nombre d'étudiants par catégorie de Major

# Retourner les valeurs uniques de Major_category. 
# - Utiliser la méthode Series.unique() (équivalent du distinct en SQL) pour retourner les valeurs uniques d'une Series.

In [17]:
Major_category_1 = all_ages["Major_category"].unique()
Major_category_1

array(['Agriculture & Natural Resources', 'Biology & Life Science',
       'Engineering', 'Humanities & Liberal Arts',
       'Communications & Journalism', 'Computers & Mathematics',
       'Industrial Arts & Consumer Services', 'Education',
       'Law & Public Policy', 'Interdisciplinary', 'Health',
       'Social Science', 'Physical Sciences', 'Physical Sciences ',
       'Psychology & Social Work', 'Industrial Arts & Consumer Services ',
       'Arts', 'Business'], dtype=object)

In [18]:
Major_category_2 = recent_grads["Major_category"].unique()
Major_category_2

array(['Engineering', 'Business', 'Physical Sciences',
       'Law & Public Policy', 'Computers & Mathematics',
       'Agriculture & Natural Resources',
       'Industrial Arts & Consumer Services', 'Arts', 'Health',
       'Social Science', 'Physical Sciences ', 'Biology & Life Science',
       'Education', 'Humanities & Liberal Arts',
       'Psychology & Social Work', 'Industrial Arts & Consumer Services ',
       'Communications & Journalism', 'Interdisciplinary'], dtype=object)

# Pour chaque valeur unique (utilisation d'une boucle for?):

In [19]:
# Retourner toutes les lignes ou Major_category vaut cette valeur unique. 

# Calculer le nombre total d'étudiants représentant cette catégorie de major (colonne Total à sommer). 

# Vous garderez en mémoire ce résultat sous la forme d'un dictionnaire contenant une Major_category en clé et le nombre d'étudiants en valeur.

In [20]:
major_total_all_ages = {}

for valeur_unique in Major_category_1:
    is_major = (all_ages["Major_category"] == valeur_unique)
    total_edutiant = all_ages[is_major]["Total"].sum()
    major_total_all_ages[valeur_unique] = total_edutiant

print(major_total_all_ages)

{'Agriculture & Natural Resources': 632437, 'Biology & Life Science': 1338186, 'Engineering': 3576013, 'Humanities & Liberal Arts': 3738335, 'Communications & Journalism': 1803822, 'Computers & Mathematics': 1781378, 'Industrial Arts & Consumer Services': 1018072, 'Education': 4700118, 'Law & Public Policy': 902926, 'Interdisciplinary': 45199, 'Health': 2950859, 'Social Science': 2654125, 'Physical Sciences': 1013152, 'Physical Sciences ': 12166, 'Psychology & Social Work': 1987278, 'Industrial Arts & Consumer Services ': 15726, 'Arts': 1805865, 'Business': 9858741}

In [21]:
major_total_recent_grads = {}

for valeur_unique_1 in Major_category_2:
    is_major = (recent_grads["Major_category"] == valeur_unique_1)
    total_edutiant_1 = recent_grads[is_major]["Total"].sum()
    major_total_recent_grads[valeur_unique_1] = total_edutiant_1

print(major_total_recent_grads)

{'Engineering': 537583, 'Business': 1302376, 'Physical Sciences': 183363, 'Law & Public Policy': 179107, 'Computers & Mathematics': 299008, 'Agriculture & Natural Resources': 79981, 'Industrial Arts & Consumer Services': 227357, 'Arts': 357130, 'Health': 463230, 'Social Science': 529966, 'Physical Sciences ': 2116, 'Biology & Life Science': 453862, 'Education': 559129, 'Humanities & Liberal Arts': 713468, 'Psychology & Social Work': 481007, 'Industrial Arts & Consumer Services ': 2435, 'Communications & Journalism': 392601, 'Interdisciplinary': 12296}

# Nombre d'étudiants par catégorie de Major

In [22]:
# Mission:
# • Créer une fonction dans laquelle vous utiliserez la colonne Total pour
# calculer le nombre d'étudiants pour chaque catégorie de Major
# (Major_category) dans chaque dataset.
# • Stocker le résultat dans 2 dictionnaires distincts
# • La clé pour chaque dictionnaire sera Major_category et la valeur le total d'étudiants
# • Pour le dataset all_ages, stocker le résultat dans un dictionnaire qu'on nommera
# aa_car_counts
# • Pour le dataset recent_grads, stocker le résultat dans un dictionnaire qu'on nommera
# rg_cat_counts
# • Autre méthode: Utiliser un pivot de table.
# • Afficher les 2 dictionnaires.

In [26]:
def calculate_major_cat_totals(df):
    cats = df['Major_category'].unique()
    counts_dictionary = {}
    
    for c in cats:
        major_df = df[df["Major_category"] == c]
        total = major_df["Total"].sum()
        counts_dictionary[c] = total
    return counts_dictionary
calculate_major_cat_totals

In [28]:
import numpy as np
aa_cat_counts = dict(all_ages.pivot_table(index="Major_category", values="Total", aggfunc=np.sum))

# Taux de jobs à faible salaire

In [24]:
# • Utiliser les colonnes "Low_wage_jobs" et "Total" pour calculer la
# proportion de jeunes diplômés qui ont du trouver des jobs à faible
# salaire (recent_grads).
# • Souvenez-vous que vous pouvez utiliser la méthode Series.sum() pour
# retourner la somme des valeurs d'une colonne
# • Stocker le résultat dans la variable low_wage_proportion et afficher
# le.

In [29]:
#Taux de jobs à faible salaire
TOTAL=recent_grads["Total"].sum()
print(TOTAL)
tot_low_wage_jobs = recent_grads["Low_wage_jobs"].sum()
print(tot_low_wage_jobs)

low_wage_proportion= (tot_low_wage_jobs/TOTAL)*100
print(low_wage_proportion, '% de jeunes diplomés ont du trouver des jobs à faible salaire')

6776015
667610
9.852546076122913 % de jeunes diplomés ont du trouver des jobs à faible salaire

# Comparer des datasets

In [25]:
# • Utiliser une boucle for pour parcourir toutes les majors.
# • Pour chaque Major et chaque DataFrame, filtrer seulement les lignes du
# DataFrame correspondant à cette major
# • Comparer les valeurs pour la colonne "Unemployment_rate" pour voir lequel
# des 2 DataFrames possèdent la valeur la plus basse
# • Incrémenter (cad ajouter 1) à la variable rg_lower_count si la valeur pour
# Unemployment_rate est plus petite dans le dataframe recent_grads que dans
# le dataframe all_ages
# • Afficher le résultat rg_lower_count.

In [30]:
majors_1 = all_ages["Major"]
majors_2 = recent_grads["Major"]
print(majors_1.shape)
print(majors_2.shape)

rg_lower_count = 0

for major in majors_1:
    is_major_1 = (all_ages["Major"] == major)
    is_major_2 = (recent_grads["Major"] == major)
    valeur_1 = all_ages[is_major_1]["Unemployment_rate"].tolist()
    valeur_2 = recent_grads[is_major_2]["Unemployment_rate"].tolist()
    if len(valeur_1) > 0 and len(valeur_2) > 0:
        if valeur_1 > valeur_2:
            rg_lower_count += 1

print("rg_lower_count =",rg_lower_count)

(173,)
(173,)
rg_lower_count = 42