# Projet entreprise multinational corporation – Part 1

Contexte :
Une entreprise multinational spécialisé dans la data définir une grille salarial pour ces employés à
travers le monde en fonction de leurs niveaux d’étude, leurs postes, leurs compétences entre autres.
Elle réunit dans un fichier Excel toutes les informations sur ses employés ainsi que les réponse à
plusieurs réponses auxquels ils ont répondus.
Pour traiter ces données avec la plus grande facilité il conviendra de les intégrer dans une base de
données structurés.

Pour ce faire :

Il faudra dans un premier temps mener une brève analyse exploratoire qui aura seulement
pour but d’identifier le type des variables (et donc le type des colonnes de la base de
données que vous allez créer et leurs longueurs) et de déterminer s’il y a des valeurs
manquantes.

- Pour cela utiliser ma méthode pandas.read_excel() (pensez à ignorer les 3 premiers
lignes)
- Avec l’attribut dtypes de votre dataframe vous obtiendrais le type de toute les
colonnes.
- Avec la méthode Series.value_counts() vous aurait les différentes modalités des
variables de types object. Ce qui vous donnera un bon aperçus.

Vous devrait ensuite modéliser la base de données que vous jugerais la plus adapté à vos
données en utilisant la méthode MERISE.

- Idéalement parmi les colonnes de type int il y aura « TelecommuteDaysPerWeek ».
- Les colonnes « OtherJobDuties » et « KindsOfTasksPerformed » contenant plusieurs
modalité dans une cellules donneront naissances à des tables qui leurs sont dédier
ainsi qu’à des tables de liaisons.

In [1]:
import pandas as pd 

dataframe = pd.read_excel("jeu_de_données/Data_Professional_Salary_Survey_Responses_1.xlsx")

In [2]:
dataframe

,Survey Year,Timestamp,SalaryUSD,Country,PostalCode,PrimaryDatabase,YearsWithThisDatabase,OtherDatabases,EmploymentStatus,JobTitle,...,NewestVersionInProduction,OldestVersionInProduction,PopulationOfLargestCityWithin20Miles,EmploymentSector,LookingForAnotherJob,CareerPlansThisYear,Gender,OtherJobDuties,KindsOfTasksPerformed,Counter
0,2021,2020-12-10 08:22:42.696,65000.0,Sweden,NaN,Microsoft SQL Server,4,Microsoft SQL Server,Full time employee,"Developer: Business Intelligence (SSRS, PowerB...",...,SQL Server 2016,SQL Server 2016,"<= 20,000 (town)",Private business,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
1,2021,2020-12-10 08:23:22.242,145000.0,United States,76063,Microsoft SQL Server,15,Azure SQL DB (any flavor),Full time employee,DBA (Production Focus - build & troubleshoot s...,...,SQL Server 2019,SQL Server 2014,1M+ (metropolis),Private business,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
2,2021,2020-12-10 08:23:37.909,105000.0,United States,43240,Microsoft SQL Server,12,"PostgreSQL, Azure SQL DB (any flavor)",Full time employee,DBA (General - splits time evenly between writ...,...,SQL Server 2017,SQL Server 2008R2,300K-1M (large city),Private business,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
3,2021,2020-12-10 08:23:48.152,46482.0,United Kingdom,NaN,Microsoft SQL Server,10,Azure SQL DB (any flavor),Full time employee,DBA (Production Focus - build & troubleshoot s...,...,SQL Server 2019,SQL Server 2012,300K-1M (large city),"Education (K-12, college, university)",Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
4,2021,2020-12-10 08:24:03.600,98800.0,United States,468,Microsoft SQL Server,5,DB2,Full time employee,"Developer: Business Intelligence (SSRS, PowerB...",...,SQL Server 2019,SQL Server 2012,100K-299K (city),Private business,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10336,2017,2017-01-14 15:50:23.936,36549.0,United Kingdom,Not Asked,Microsoft SQL Server,3,NaN,Full time employee,DBA,...,Not Asked,Not Asked,Not Asked,Private business,No,Not Asked,Not Asked,Not Asked,Not Asked,1
10337,2017,2017-01-15 01:01:21.212,65000.0,Saudi Arabia,Not Asked,Microsoft SQL Server,7,"Oracle, MySQL/MariaDB, Microsoft Access, SQLite",Full time employee,DBA,...,Not Asked,Not Asked,Not Asked,Private business,"Yes, but only passively (just curious)",Not Asked,Not Asked,Not Asked,Not Asked,1
10338,2017,2017-01-15 03:25:47.422,85000.0,Netherlands,Not Asked,Microsoft SQL Server,17,Oracle,Full time employee,Other,...,Not Asked,Not Asked,Not Asked,Private business,"Yes, but only passively (just curious)",Not Asked,Not Asked,Not Asked,Not Asked,1
10339,2017,2017-01-15 03:37:35.305,90000.0,United States,Not Asked,Microsoft SQL Server,8,MySQL/MariaDB,Full time employee,DBA,...,Not Asked,Not Asked,Not Asked,Private business,"Yes, actively looking for something else",Not Asked,Not Asked,Not Asked,Not Asked,1
10340,2017,2017-01-15 03:37:59.149,23000.0,Portugal,Not Asked,Microsoft SQL Server,4,"PostgreSQL, DB2, Microsoft Access",Full time employee,Architect,...,Not Asked,Not Asked,Not Asked,Private business,"Yes, but only passively (just curious)",Not Asked,Not Asked,Not Asked,Not Asked,1

In [3]:
dataframe.dtypes

Survey Year                                      int64
Timestamp                               datetime64[ns]
SalaryUSD                                      float64
Country                                         object
PostalCode                                      object
PrimaryDatabase                                 object
YearsWithThisDatabase                            int64
OtherDatabases                                  object
EmploymentStatus                                object
JobTitle                                        object
ManageStaff                                     object
YearsWithThisTypeOfJob                           int64
HowManyCompanies                                object
OtherPeopleOnYourTeam                           object
CompanyEmployeesOverall                         object
DatabaseServers                                 object
Education                                       object
EducationIsComputerRelated                      object
Certifications                                  object
HoursWorkedPerWeek                              object
TelecommuteDaysPerWeek                          object
NewestVersionInProduction                       object
OldestVersionInProduction                       object
PopulationOfLargestCityWithin20Miles            object
EmploymentSector                                object
LookingForAnotherJob                            object
CareerPlansThisYear                             object
Gender                                          object
OtherJobDuties                                  object
KindsOfTasksPerformed                           object
Counter                                          int64
dtype: object

In [4]:
for i in dataframe.columns:
    print("---",i,"---")
    print("\n")
    print(dataframe[i].value_counts())
    print("\n")

--- Survey Year ---


2018    3094
2017    2898
2021    1747
2020    1723
2019     879
Name: Survey Year, dtype: int64


--- Timestamp ---


2019-12-11 11:25:39.735    2
2017-01-05 11:48:25.283    2
2017-12-20 08:12:38.482    2
2018-12-12 12:53:51.550    1
2020-12-17 05:56:58.652    1
                          ..
2017-12-20 08:25:33.452    1
2017-12-13 07:25:58.092    1
2017-12-15 11:59:37.493    1
2018-12-12 07:23:30.983    1
2019-01-03 01:12:19.445    1
Name: Timestamp, Length: 10338, dtype: int64


--- SalaryUSD ---


110000.0    280
100000.0    270
120000.0    265
90000.0     237
80000.0     227
           ...
15348.0       1
65240.0       1
72446.0       1
127059.0      1
48650.0       1
Name: SalaryUSD, Length: 1655, dtype: int64


--- Country ---


United States     6807
United Kingdom     934
Canada             378
Australia          255
India              171
                  ...
Cyprus               1
Bolivia              1
Bermuda              1
Ghana                1
Albania              1
Name: Country, Length: 97, dtype: int64


--- PostalCode ---


Not Asked    2898
2000           20
3000           20
6000           15
98101          15
             ...
33430           1
33132           1
53037           1
91307           1
G1              1
Name: PostalCode, Length: 3663, dtype: int64


--- PrimaryDatabase ---


Microsoft SQL Server       9553
Oracle                      330
Other                        95
PostgreSQL                   93
Azure SQL DB                 77
MySQL/MariaDB                67
Amazon RDS (any flavor)      32
DB2                          25
Microsoft Access             23
MongoDB                      12
SAP                          11
Teradata                     11
SQLite                        5
Cassandra                     5
Elasticsearch                 2
Name: PrimaryDatabase, dtype: int64


--- YearsWithThisDatabase ---


10       1164
15        936
20        842
5         752
8         603
6         561
3         539
4         529
7         527
12        487
2         431
18        367
1         345
17        344
16        265
13        257
9         251
11        223
14        220
25        155
19        139
22        119
21         82
23         70
24         34
30         30
0          21
26         10
28          8
27          7
29          5
32          3
33          2
31          2
2020        1
2003        1
30331       1
1997        1
1050        1
34          1
2017        1
38          1
53716       1
2000        1
40          1
Name: YearsWithThisDatabase, dtype: int64


--- OtherDatabases ---


Microsoft SQL Server                                                                            898
Oracle                                                                                          366
Microsoft Access                                                                                324
MySQL/MariaDB                                                                                   251
Azure SQL DB                                                                                    199
                                                                                               ...
Microsoft SQL Server, Oracle, MySQL/MariaDB, PostgreSQL, DB2, Microsoft Access, Azure SQL DB      1
Microsoft SQL Server, MySQL/MariaDB, Microsoft Access, Teradata, Azure SQL DB (any flavor)        1
Microsoft SQL Server, Oracle, PostgreSQL, MongoDB, Azure SQL DB (any flavor), CosmosDB            1
MySQL/MariaDB, Microsoft Access, Informix                                                         1
Microsoft SQL Server, MySQL/MariaDB, Microsoft Access, Btrieve                                    1
Name: OtherDatabases, Length: 1948, dtype: int64


--- EmploymentStatus ---


Full time employee                                                   9151
Full time employee of a consulting/contracting company                754
Independent consultant, contractor, freelancer,  or company owner     299
Independent or freelancer or company owner                            104
Part time                                                              33
Name: EmploymentStatus, dtype: int64


--- JobTitle ---


DBA (General - splits time evenly between writing & tuning queries AND building & troubleshooting servers)    1906
DBA                                                                                                           1514
DBA (Production Focus - build & troubleshoot servers, HA/DR)                                                  1230
Developer: T-SQL                                                                                               995
Architect                                                                                                      794
Developer: Business Intelligence (SSRS, PowerBI, etc)                                                          737
Developer: App code (C#, JS, etc)                                                                              680
Manager                                                                                                        625
Analyst                                                                                                        593
Engineer                                                                                                       516
DBA (Development Focus - tunes queries, indexes, does deployments)                                             496
Other                                                                                                          170
Data Scientist                                                                                                  74
Systems Administrator                                                                                            2
Principal database engineer                                                                                      1
Analytics consultant                                                                                             1
Sr Consultant                                                                                                    1
Sales                                                                                                            1
DevOps, Sr Software Engineer DBA                                                                                 1
DBA / BI Developer                                                                                               1
Consultant                                                                                                       1
Database Specialist                                                                                              1
Technician                                                                                                       1
Name: JobTitle, dtype: int64


--- ManageStaff ---


No     7948
Yes    2393
Name: ManageStaff, dtype: int64


--- YearsWithThisTypeOfJob ---


1       1113
2       1086
3       1037
5       1009
10       818
4        806
6        610
7        517
8        487
15       451
20       409
12       296
9        228
11       158
25       157
18       149
13       140
17       130
14       118
16       111
0         83
19        73
22        70
21        55
30        52
23        41
24        20
28        15
27        15
35        14
32        12
26        11
33        11
29        10
31         6
40         4
38         4
37         4
34         3
36         2
1997       1
45         1
2020       1
44         1
42         1
39         1
Name: YearsWithThisTypeOfJob, dtype: int64


--- HowManyCompanies ---


Not Asked                                                             5992
1 (this is the only company where I've had this kind of position)     1539
2 (I worked at another similar position elsewhere before this one)    1240
3                                                                      726
4                                                                      368
6 or more                                                              266
5                                                                      210
Name: HowManyCompanies, dtype: int64


--- OtherPeopleOnYourTeam ---


None           3924
1              2144
2              1300
More than 5    1125
3               884
4               581
5               383
Name: OtherPeopleOnYourTeam, dtype: int64


--- CompanyEmployeesOverall ---


Not Asked       7715
1000 or more     377
10               132
100-249          126
6-99             123
                ...
162                1
143                1
140                1
127                1
122                1
Name: CompanyEmployeesOverall, Length: 148, dtype: int64


--- DatabaseServers ---


Not Asked    1747
10            636
5             545
3             511
20            508
             ...
284             1
270             1
265             1
257             1
226             1
Name: DatabaseServers, Length: 268, dtype: int64


--- Education ---


Bachelors (4 years)           3650
Not Asked                     3470
Masters                       1230
None (no degree completed)    1180
Associates (2 years)           760
Doctorate/PhD                   51
Name: Education, dtype: int64


--- EducationIsComputerRelated ---


Yes          3768
Not Asked    3470
No           1891
Name: EducationIsComputerRelated, dtype: int64


--- Certifications ---


Not Asked                           3470
No, I never have                    3347
Yes, and they're currently valid    1807
Yes, but they expired               1717
Name: Certifications, dtype: int64


--- HoursWorkedPerWeek ---


Not Asked    3470
40           2951
45           1248
50            872
42            265
38            254
35            204
37            195
60            155
55            150
48             82
44             71
43             61
36             46
30             44
41             38
46             36
65             27
39             22
47             22
70             18
32             15
80              9
8               8
52              7
24              6
90              6
54              6
20              5
10              4
53              4
25              4
75              4
9               3
58              2
100             2
85              2
68              2
49              2
57              1
59              1
200             1
160             1
150             1
93              1
28              1
11              1
82              1
22              1
78              1
76              1
12              1
56              1
5               1
15              1
64              1
6               1
3               1
Name: HoursWorkedPerWeek, dtype: int64


--- TelecommuteDaysPerWeek ---


None, or less than 1 day per week    4023
Not Asked                            3470
1                                    1140
5 or more                             787
2                                     536
3                                     241
4                                     144
Name: TelecommuteDaysPerWeek, dtype: int64


--- NewestVersionInProduction ---


Not Asked                                           6871
SQL Server 2017                                     1234
SQL Server 2016                                      933
SQL Server 2019                                      919
SQL Server 2014                                      155
                                                    ...
We have SQL server but I don't know the versions       1
Dont use SQL server                                    1
We don’t                                               1
?                                                      1
Azure SQL                                              1
Name: NewestVersionInProduction, Length: 70, dtype: int64


--- OldestVersionInProduction ---


Not Asked            6871
SQL Server 2008R2     857
SQL Server 2012       827
SQL Server 2016       429
SQL Server 2014       407
                     ...
SQL 2005 (Sigh)         1
Not used                1
SQL SERVER 2000         1
Redshift                1
Azure                   1
Name: OldestVersionInProduction, Length: 97, dtype: int64


--- PopulationOfLargestCityWithin20Miles ---


Not Asked               5992
1M+ (metropolis)        1663
300K-1M (large city)    1310
100K-299K (city)         876
20K-99K (large town)     370
<= 20,000 (town)         130
Name: PopulationOfLargestCityWithin20Miles, dtype: int64


--- EmploymentSector ---


Private business                         8577
State/province government                 440
Non-profit                                395
Local government                          374
Federal government                        274
Education (K-12, college, university)     272
Student                                     9
Name: EmploymentSector, dtype: int64


--- LookingForAnotherJob ---


Not Asked                                   3470
No                                          3414
Yes, but only passively (just curious)      2923
Yes, actively looking for something else     534
Name: LookingForAnotherJob, dtype: int64


--- CareerPlansThisYear ---


Stay with the same employer, same role            4524
Not Asked                                         2898
Stay with the same employer,  but change roles     864
Stay with the same role, but change employers      848
Prefer not to say                                  609
Change both employers and roles                    598
Name: CareerPlansThisYear, dtype: int64


--- Gender ---


Male                       6619
Not Asked                  2898
Female                      710
Prefer not to say            91
Non-binary/third gender      22
None                          1
Name: Gender, dtype: int64


--- OtherJobDuties ---


Not Asked                                                                                                                                                                                                                                                                                                                                                              6368
DBA (Development Focus - tunes queries, indexes, does deployments)                                                                                                                                                                                                                                                                                                      247
Developer: T-SQL                                                                                                                                                                                                                                                                                                                                                        212
DBA (General - splits time evenly between writing & tuning queries AND building & troubleshooting servers)                                                                                                                                                                                                                                                              155
Developer: Business Intelligence (SSRS, PowerBI, etc)                                                                                                                                                                                                                                                                                                                   119
                                                                                                                                                                                                                                                                                                                                                                       ...
Architect, Data Scientist, DBA (Development Focus - tunes queries, indexes, does deployments), DBA (Production Focus - build & troubleshoot servers, HA/DR), Developer: Business Intelligence (SSRS, PowerBI, etc), Developer: T-SQL                                                                                                                                      1
DBA (Production Focus - build & troubleshoot servers, HA/DR), DBA (General - splits time evenly between writing & tuning queries AND building & troubleshooting servers), Developer: App code (C#, JS, etc), Developer: T-SQL                                                                                                                                             1
DBA (Development Focus - tunes queries, indexes, does deployments), DBA (Production Focus - build & troubleshoot servers, HA/DR), DBA (General - splits time evenly between writing & tuning queries AND building & troubleshooting servers), Engineer                                                                                                                    1
Architect, DBA (Development Focus - tunes queries, indexes, does deployments), DBA (Production Focus - build & troubleshoot servers, HA/DR), DBA (General - splits time evenly between writing & tuning queries AND building & troubleshooting servers), Developer: App code (C#, JS, etc), Developer: Business Intelligence (SSRS, PowerBI, etc), Developer: T-SQL       1
Analyst, DBA (Production Focus - build & troubleshoot servers, HA/DR), Developer: Business Intelligence (SSRS, PowerBI, etc), Engineer                                                                                                                                                                                                                                    1
Name: OtherJobDuties, Length: 551, dtype: int64


--- KindsOfTasksPerformed ---


Not Asked                                                                                                                                         6368
Build scripts & automation tools, Manual tasks, Meetings & management, Projects                                                                    186
Build scripts & automation tools, Manual tasks, Projects                                                                                           150
Build scripts & automation tools, Manual tasks, Meetings & management, Projects, R&D, Training/teaching                                            132
Build scripts & automation tools, Manual tasks, Meetings & management, On-call as part of a rotation, Projects, R&D, Training/teaching             125
                                                                                                                                                  ...
Meetings & management, On-call 24/7/365, R&D, Training/teaching                                                                                      1
Manual tasks, On-call as part of a rotation, R&D                                                                                                     1
Manual tasks, Meetings & management, On-call as part of a rotation, On-call 24/7/365, Projects, R&D, Training/teaching                               1
Build scripts & automation tools, Manual tasks, Meetings & management, On-call as part of a rotation, On-call 24/7/365, R&D, Training/teaching       1
R&D, Training/teaching                                                                                                                               1
Name: KindsOfTasksPerformed, Length: 211, dtype: int64


--- Counter ---


1    10341
Name: Counter, dtype: int64